# =========================
# ZippyGo FRONTEND (Vite)
# =========================
VITE_BACKEND_URL=https://zippygo-transfers-backend.onrender.com

# These are no longer required in the browser checkout.
# Keep Appwrite credentials server-side only.

# =========================
# ZippyGo BACKEND (Render)
# =========================
PORT=10000

# PayFlow
PAYFLOW_API_URL=https://payflow-com.onrender.com/api/v1
PAYFLOW_PUBLIC_URL=https://payflow-com.onrender.com
PAYFLOW_API_KEY=pf_live_5a4785b6ff330c74a0ac7d32150df7a887f49c912d6ac122d56c66b0b6d99931
ZIPPYGO_RETURN_URL=https:https://zippygotransfers.onrender.com

# Appwrite server connection
APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a53db7d001a48dac20e
APPWRITE_API_KEY=standard_2c750535d5e12d30d3eceb5bfcd455367e18b1009833be54a47be7452c2fc260150d9dc628ad34cf659a40b4fcb56dab3cef4463dfc6ccb4b386e10bed723dbc1b4aa258d7e9513fa12a2ca526634555059b9eb1a1fdce0ac7e7f3d11fd6b4fb2d7c1cdffc1c20753eecbada78132b8b215cbc6da327acf90122132e606beffe
APPWRITE_DATABASE_ID=6a53dc520031367dc376
APPWRITE_BOOKINGS_COLLECTION_ID=bookings
